<.header>
  Pokemons
</.header>


<.form for={} phx-change="name_changed">
  <.input type="text" name="pokemon_name" value=""></.input>
</.form>

<.table
  id="pokemons"
  rows={@pokemons}
  row_click={fn pokemon -> JS.navigate(~p"/pokemons/#{pokemon.id}") end}
>
  <:col :let={pokemon} label="ID"><%= pokemon.id %></:col>
  <:col :let={pokemon} label="Name"><%= get_name(pokemon) %></:col>
</.table>
